@model TesteStand.Models.ClienteModel

@{
    ViewData["Title"] = "CadastraCliente";
}

<h1>CadastraCliente</h1>

<h4>ClienteModel</h4>
<hr />
<div class="col-sm-12">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border"><span>Empresa</span></legend>
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <label class="control-label input-label" for="search-razao-social">Razão Social:</label>
                    @Html.TextBox("SearchString", "", new { @id = "search-razao-social", @class = "form-control input" })
                </div>

                <div class="col-md-3">
                    <label class="control-label input-label" for="search-cnpj">CNPJ:</label>
                    @Html.TextBox("SearchString", "", new { @id = "search-cnpj", @class = "form-control input" })
                </div>

                <div class="col-md-3">
                    <label class="control-label input-label" for="search-cnpj">Data de Fundação:</label>
                    @Html.TextBox("SearchString", "", new { @id = "search-cnpj", @class = "form-control input" })
                </div>
            </div>
            <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                <input class="form-control" type="text" readonly />
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </fieldset>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <style>
        #datepicker {
            width: 180px;
            margin: 0 20px 20px 20px;
        }

            #datepicker > span:hover {
                cursor: pointer;
            }
    </style>

    <script>
        $(function () {
            $("#datepicker").datepicker({
                autoclose: true,
                todayHighlight: true
            }).datepicker('update', new Date());
        });

    </script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
